.x-panel-header .x-panel-header-glyph {
	opacity: 1;
    color: #8ABFE5;
}

.banner-btn-font {
	font-size:13px;
    font-family:"Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif, STXihei, "华文细黑";
}

.menu-text-highlight {
	background-color: #ADD2ED;
}