*{margin: 0;padding: 0;font-family: "Microsoft Yahei";}
ul li{
	list-style-type: none;
}
.content-top{
	font-size: 16px;
	padding-top: 20px;
}
.block{
	width: 100%;
	height: 80px;
	border: 1px solid #428bca;
	border-radius: 4px;
}
.block p{
	width: 100%;
	height: 50%;
	line-height: 40px;
	text-align: center;
	margin: 0;
	font-size: 16px;
}
.block p:first-child{
	background-color: #428bca;
	color: #fff;
}
h3{
	font-family: "Microsoft Yahei";
}
.course{
	position: relative;
}
.vertical-line{
	border-right: 1px solid #ccc;
}
.course-content{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
}
.course-content li{
	margin-bottom: 30px;
}
.course-time{
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	text-align: right;
	padding-right: 40px;
	position: relative;
}
.dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #428bca;
	position: absolute;
	right: 15px;
	bottom: 12px;
}
.info p{
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}