@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tab_container {
	width:120px; 
	height:505px; 
	background-color:#157FCC; 
	position:relative; 
	float:left;
}

.tabItemIcon {
	width:16px; 
	height:16px; 
	background-image:url(../images/list_icon.png); 
	position:absolute; 
	left:10px; 
	top:18px;	
}

.tabItem {
	width:120px; 
	height:50px; 
	background-color:#4B9CD7; 
	text-align:center; 
	position:relative; 
	margin:0px 0px 1px 0px; 
	cursor:pointer;
}

.tabItem_activated {
	width:120px;
	height:50px;
	background-color:#ADD2ED;
	text-align:center;
	position:relative;
	margin:0px 0px 1px 0px; 
	cursor:pointer;
}

.tabText {
	font-size:15px;
	color:#FFF;
	font-weight:bold;
	font-family:"Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif, STXihei, "华文细黑";
	position:absolute;
	left:30px;
	top:15px;
}

.tabText_activated {
	font-size:15px;
	color:#3B86CD;
	font-weight:bold;
	font-family:"Microsoft YaHei", "微软雅黑", Arial, Helvetica, sans-serif, STXihei, "华文细黑";
	position:absolute;
	left:30px;
	top:15px;
}

.tab_content_container {
	width:500px;
	height:505px;
	background-color:#ADD2ED;
	position:relative; 
	left:120px;
}

.tab_content {
	width:495px; 
	height:495px; 
	background-color:#FFF; 
	position:absolute; 
	left:5px; 
	top:5px;	
}